@media(max-width:1300px){
    .navbar_main{
        justify-content: center;
    }
    .navbar-header{
        margin-bottom: 15px;
    }
}
@media(max-width:1200px){
  .header_flex{
      justify-content: center !important;
      flex-wrap: wrap !important;
  }
  .navbar-brand{
      margin-bottom: 15px;
     
  }
  .video_block iframe{
        width: 300px ;
        height: 315px;
    }
    
}

@media(max-width:1145px){
    .nav{
        border-bottom: none;
    }
    .about-carousel .main_carousel .card{
        width: 16rem;
    }
} 
@media(max-width:991px){
    .logo {
        max-width: 180px
    }

    .nav li a {
        font-size: 14px;
        padding: 20px 14px;
        letter-spacing: 2px
    }

    .navbar-nav .dropdown:hover>.dropdown-menu {
        display: block;
    }

    /* navbar */
    .navbar-collapse{
        text-align: center;
        background: rgba(0, 0, 0, .9);
        margin: auto;
        border-bottom: none;
        
    }
    .navbar{
        margin-bottom: 0;
        padding-bottom: 5px !important;
    }
    .header_flex{
        align-items: flex-start !important;
        justify-content: space-between !important;
    }
    .container{
        max-width: 1220px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .navbar-nav .dropdown-menu{
        transform: translate(0px,0px);
        border-radius: 0px;    
    }
    .social_icons .search_input{
        top: 55px;
        transform: translate(50%,0px);
        right: 50%;
    }
    .hove_height{
        left: 0px;
    }
    .navbar-nav .about_us .dropdown-menu{
        transform: translate(0px,0px);
    }
    .social_icons ._line{
        display: none;
    }
    .scrollme .baner_title{
        transform: translateY(0px);
    }
    .main_carousel .owl-nav .owl-prev{
        left: -1%;
    }
    .main_carousel .owl-nav .owl-next{
        right: -2%;
    }

    .media-footer .view-movie{
        font-size: 16px;
    }
    .media-footer .movie-lenght{
      font-size: 14px;
    }
    .media-footer .movie-lenght span{
        height: 30px;
        width: 30px;
        font-size: 12px;
        margin-left: 5px;
        padding:6px 3px 0px 7px;
    }
    .footer .row{
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer .footer-block_title{
        font-size: 16px;
        letter-spacing: 1px;
        
    }
    .video_block iframe{
        width: 295px;
    }
    /* #hero {
        height: 400px
    } */
    /* navabr */

    /* performances page */
    .performances-carusel.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
        display: none !important;
    }
    .navbar-collapse{
        height: 320px;
    }

    

}
@media(max-width:767px){
    .navbar-toggle {
        margin-top: 15px
    }
    .nav li {
        text-align: center
    }

    .nav li:first-of-type a {
        padding-top: 25px
    }

    .nav li:last-of-type a {
        padding-bottom: 25px
    }

    .nav li.active a:after {
        display: none
    }

    .nav li.active a {
        color: #ec7532
    }

    .nav li a {
        display: block;
        padding: 15px
    }

    .nav .dropdown-menu {
        position: static;
        display: block;
        visibility: visible;
        float: none;
        transform: scale(1);
        opacity: 1;
        background: rgba(236, 117, 50, .8)
    }

    .nav .dropdown-menu li a {
        font-size: 12px
    }

    /* new */
    .main_movies .author{
        margin-top: 20px;
    }
    
    .main_movies .media-body .aside_text{
        top: -300px;
    }
    .video_block iframe{
        width: 500px;
        display: block;
        margin: 40px auto 0;
    }
    .new_section{
        min-height: 200px;
        padding-bottom: 40px;
    }
    /* new */

    /* performances page */
    .about-present{
        height: 620px;
    }
    .about-present .media .movie-type{
        transform: translateY(0px);
    }
    .main_movies .media-title{
        margin: 10px 0;
        color: black !important;
    }
    .about-present  .media .author{
        margin-bottom: 2px;
    }
    .about-present .media .media-text{
        margin-top: 10px;
    }
    .performances-page .main_movies .media-title{
        color: black !important;
    }
    /* #headerCarousel {
        height: 300px;
    } */
    
    .scrollme .baner_title  {
        font-size:28px;
        letter-spacing: 3px;
    }
    #headerCarousel .owl-dots .owl-dot{
        width: 10px ;
        height: 10px ;
    }
    #headerCarousel .owl-dots{
        width: 20px;
        position: absolute;
        z-index: 500;
        right: 50px;
        bottom: 90px; 
    }

    .media_present{
        margin: 0px auto 30px;
    }

}


@media(max-width:576px){
    .scrollme .baner_title {
        font-size: 25px;
    }
    .navbar-brand img{
        max-width: 80px;
    }
    .navbar{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .main_movies .media-text{
        font-size: 13px;
    }

    .navbar-toggler-icon{
        width: 30px !important;
        height: 1rem;
    }
    .main_movies .movie-type{
        font-size: 14px;
    }
    .main_movies .media-title{
        font-size: 20px;
    }
    .main_movies .author{
        font-size: 14px;
    }
    .media-footer .media_btn-group .add_cupon{
        font-size: 12px;
        width: 130px;
    }
    .media-footer .media_btn-group .add_cupon svg{
        margin-left: 2px;
    }
    .media-footer .media_btn-group .more_btn{
        padding: 5px;
    }
    .main_movies .media-footer .view-movie{
        font-size: 14px;

    }
    .media-footer .movie-lenght{
        font-size: 12px;
    }
    .media-footer .movie-lenght span{
        width: 25px;
        height: 25px;
        font-size: 11px;
        margin-left: 5px;
        padding:5px 3px 0px 6px;
    }
    .main_movies .media-body .aside_text{
        font-size: 14px;
        width: 130px;
    }
    .video_block iframe{
        width: 400px ;
    }
    .new_section .media-title{
        font-size: 40px;
    }
    .new_section .author{
        font-size: 16px;
    }
    .new_section .movie-type{
        font-size: 12px;
    }
    .new_section .media-text{
        font-size: 12px;
    }
    .new_section .view-movie{
        font-size: 14px;
    }
    .new_section .media-footer .calendar{
        margin: 0px 15px;
        font-size: 16px;
    }
    .article-call{
        padding: 40px 0 10px;
    }
    .article-call .call-number{
        font-size: 50px;
        letter-spacing: 2px;
    }
    .article-call .number-text{
        letter-spacing: 1px;
        font-size: 16px;
    }
    .performance_header{
        height:200px;
    }
    .scrollme .baner_title{
        font-size: 20px;
    }
    #headerCarousel .owl-dots{
        right: 10px;
        bottom: 30px;
    }
    .actors_page{
        margin-top: 100px;
    }

}
@media(max-width:480px){
    .scrollme .baner_title{
        font-size: 16px;
    }
    .navbar-header .logo img{
        max-width: 100px;
        margin-left: 15px;
    }
    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
    }
    .main_movies .nav-tabs{
        margin-bottom: 30px;
    }
    .main_movies .media-footer .view-movie{
        font-size: 13px;
    }
    .carousel_title{
        font-size: 18px;
    }
    .main_movies .nav-tabs .nav-link{
        font-size: 12px;
    }
    .main_movies .media-body .aside_text{
        font-size: 12px;
        width: 110px;
    }
    .main_movies .pagination {
        max-width: 160px;
    }
    .main_movies .pagination .page-link{
        font-size: 18px;
        padding: 8px;
    }
    .video_block iframe{
        width: 280px;
        height: 280px;
    }
    .main_movies .nav-tabs{
        justify-content: flex-start;
    }
    .performance_header .btn_play a{
        width: 40px;
        height: 40px;
        right: 5vw;
        bottom: 32px;
        padding: 6px 8px 20px 10px;
    
    }
    .about_actros .social_page_act svg{
        font-size: 35px;
    }
        
    .about_act_title .actros_name{
        font-size: 40px;
        height: 45px;
    }
    .actros_about_text{
        font-size: 14px;
        max-height: 270px;
    }
    .actros_imges .act_img {
        height: 50px;
    }
    .actors_photo{
        max-height: 350px;
        width: 255px;
    }
    .media_present{
        padding: 8px;
        margin-bottom: 30px;
    }
    
    .performance_movie{
        margin: 20px 0;
    }
    .performance_movie .author{
        letter-spacing: 1px;
        font-size: 14px;
        height: 20px;
    }
    .performance_movie .performance_name{
        font-size: 20px;
        height: 20px;
    }
    .performance_movie .movie_type{
        margin-top: -6px;
        font-size: 13px;
    }   



}

